<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="utf-8">
  <title> IGIHINGWA Farm</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
<!-- Topbar Start -->
<div class="container-fluid px-5 d-none d-lg-block">
  <div class="row gx-5 py-3 align-items-center">
    <div class="col-lg-3">
      <div class="d-flex align-items-center justify-content-start">
        <i class="bi bi-phone-vibrate fs-1 text-primary me-2"></i>
        <h2 class="mb-0">+250</h2>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d-flex align-items-center justify-content-center">
        <a href="index.html" class="navbar-brand ms-lg-5">
          <h1 class="m-0 display-4 text-primary"><span class="text-secondary">IGIHINGWA</span>FARM</h1>
        </a>
      </div>
    </div>
    <!-- <div class="col-lg-3">
        <div class="d-flex align-items-center justify-content-end">
            <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div> -->
  </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
  <a href="index.html" class="navbar-brand d-flex d-lg-none">
    <h1 class="m-0 display-4 text-secondary"><span class="text-white">IGIHINGWA</span>FARM</h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mx-auto py-0">
      <!--            <a  th:href="@{/home}" class="nav-item nav-link active">Home</a>-->
      <a href="index.html" class="nav-item nav-link active">Home</a>
      <a  th:href="@{/about-us}" class="nav-item nav-link">About</a>
      <a th:href="@{/service}" class="nav-item nav-link">Service</a>
      <a th:href="@{/product}" class="nav-item nav-link">Product</a>
      <!--            <a th:href="@{/contact}" class="nav-item nav-link">Contact</a>-->
      <a href="contact.html" class="nav-item nav-link">Contact</a>
      <a th:href="@{/login}" class="nav-item nav-link" >registration</a>
    </div>
  </div>
</nav>
<!-- Navbar End -->


<!-- Carousel Start -->
<div class="container-fluid p-0">
  <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="img/carousel-1.jpg" alt="Image">
        <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
          <div class="text-start p-5" style="max-width: 900px;">
            <h3 class="text-white">Organic Seeds </h3>
            <h1 class="display-1 text-white mb-md-4">Organic Seeds For Future</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Explore</a>
            <a href="" class="btn btn-secondary py-md-3 px-md-5">Contact</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="img/carousel-2.jpg" alt="Image">
        <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
          <div class="text-start p-5" style="max-width: 900px;">
            <h3 class="text-white">Seed Bank </h3>
            <h1 class="display-1 text-white mb-md-4">Organic Seeds For Future </h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Explore</a>
            <a href="" class="btn btn-secondary py-md-3 px-md-5">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->


<!-- Banner Start -->
<div class="container-fluid banner mb-5">
  <div class="container">
    <div class="row gx-0">
      <div class="col-md-6">
        <div class="bg-primary bg-vegetable d-flex flex-column justify-content-center p-5" style="height: 300px;">
          <h3 class="text-white mb-3">Organic Seeds For Future</h3>
          <p class="text-white">Seed banks collect seeds from diverse plant species, including wild relatives, traditional crops, and rare or endangered plants.</p>
          <a class="text-white fw-bold" href="">Read More<i class="bi bi-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bg-secondary bg-fruit d-flex flex-column justify-content-center p-5" style="height: 300px;">
          <h3 class="text-white mb-3">Organic Seeds For Future</h3>
          <p class="text-white">Seeds are stored under controlled conditions of temperature and humidity to maintain their viability. Typically, seeds are dried to a low moisture content and sealed in airtight containers or packaging. Some seed banks also freeze seeds at very low temperatures to enhance their long-term preservation.</p>
          <a class="text-white fw-bold" href="">Read More<i class="bi bi-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Start -->


<!-- About Start -->
<div class="container-fluid about pt-5">
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="d-flex h-100 border border-5 border-primary border-bottom-0 pt-4">
          <img class="img-fluid mt-auto mx-auto" src="img/about.png">
        </div>
      </div>
      <div class="col-lg-6 pb-5">
        <div class="mb-3 pb-2">
          <h6 class="text-primary text-uppercase">About Us</h6>
          <h1 class="display-5">We Produce Seed  For Your Future Use</h1>
        </div>
        <p class="mb-4">Seed banks play a critical role in preserving plant genetic diversity and conserving endangered plant species. They collect seeds from different regions and ecosystems, and store them under controlled conditions to prevent genetic erosion and ensure their long-term viability.</p>
        <div class="row gx-5 gy-4">
          <div class="col-sm-6">
            <i class="fa fa-seedling display-1 text-secondary"></i>
            <h4>Crop Improvement</h4>
            <p class="mb-0">Seed banks contribute to the development of new and improved crop varieties by providing genetic resources for breeding programs. By selecting and crossing different plant varieties with desirable traits.</p>
          </div>
<!--          <div class="col-sm-6">-->
<!--            <i class="fa-sharp fa-regular fa-wheat-awn"></i>-->
<!--            <h4>Seed Distribution</h4>-->
<!--            <p class="mb-0">Seed banks provide an essential resource for research in plant genetics, evolution, and ecology. They enable scientists to study the genetic diversity of different plant species, assess their potential for adaptation and response to environmental changes, and develop new methods for crop improvement.</p>-->
<!--          </div>-->
          <div class="col-sm-6">
            <i class="fa-award display-1 text-secondary"></i>
            <h4> Certificates </h4>
            <p class="mb-0">ISTA accreditation ensures that the seed bank follows rigorous procedures for seed testing, including purity, germination, moisture content, and viability assessments. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Facts Start -->
<div class="container-fluid bg-primary facts py-5 mb-5">
  <div class="container py-5">
    <div class="row gx-5 gy-4">
      <div class="col-lg-3 col-md-6">
        <div class="d-flex">
          <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="fa fa-star fs-4 text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-white">Our Experience</h5>
            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="d-flex">
          <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="fa fa-users fs-4 text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-white">Farm Specialist</h5>
            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="d-flex">
          <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="fa fa-check fs-4 text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-white">Complete Project</h5>
            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="d-flex">
          <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="fa fa-mug-hot fs-4 text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-white">Happy Clients</h5>
            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Facts End -->


<!-- Services Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4 col-md-6">
        <div class="mb-3">
          <h6 class="text-primary text-uppercase">Services</h6>
          <h1 class="display-5">Organic Seeds Services</h1>
        </div>
        <p class="mb-4">Organic seeds must meet specific standards to be certified as organic. Seed testing services are available to verify the quality and purity of the seeds, ensuring they are free from chemical residues, GMOs, and contamination. Organic certification bodies provide certifications to ensure the seeds meet the required organic standards.</p>
        <a href="" class="btn btn-primary py-md-3 px-md-5">Contact Us</a>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <i class="fa fa-carrot display-1 text-primary mb-3"></i>
          <h4>Seed Sales and Distribution</h4>
          <p class="mb-0">Organic seed suppliers or retailers offer a range of organic seeds for sale. They provide catalogs, online platforms, or physical stores where customers can browse and purchase organic seeds for their gardens, farms, or landscaping projects.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <i class="fa fa-apple-alt display-1 text-primary mb-3"></i>
          <h4>Seed Testing and Certification:</h4>
          <p class="mb-0"> Organic seeds must meet specific standards to be certified as organic. Seed testing services are available to verify the quality and purity of the seeds, ensuring they are free from chemical residues, GMOs, and contamination. Organic certification bodies provide certifications to ensure the seeds meet the required organic standards.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <i class="fa fa-dog display-1 text-primary mb-3"></i>
          <h4>Seed Variety Trials</h4>
          <p class="mb-0"> Research institutions and organizations conduct trials and evaluations of different organic seed varieties to assess their performance in organic farming systems. The results help farmers and growers make informed decisions when selecting appropriate seed varieties for their organic production.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <i class="fa fa-tractor display-1 text-primary mb-3"></i>
          <h4>Educational Resources</h4>
          <p class="mb-0">Organic seed services may include educational materials, workshops, or training programs on organic seed production, seed saving techniques, and organic farming practices. These resources aim to promote knowledge sharing and support individuals or communities interested in organic seed production.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item bg-light text-center p-5">
          <i class="fa fa-seedling display-1 text-primary mb-3"></i>
          <h4>Seed Saving and Exchange</h4>
          <p class="mb-0">Some organizations and communities promote seed saving and exchange programs. They encourage gardeners and farmers to save seeds from their organic crops, preserving traditional and heirloom varieties. Seed exchange events or platforms facilitate the sharing of organic seeds among enthusiasts to promote diversity and sustainability.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->


<!-- Features Start -->
<div class="container-fluid bg-primary feature py-5 pb-lg-0 my-5">
  <div class="container py-5 pb-lg-0">
    <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px;">
      <h6 class="text-uppercase text-secondary">Features</h6>
      <h1 class="display-5 text-white">Why Choose Us!!!</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-3">
        <div class="text-white mb-5">
          <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="fa fa-seedling fs-4 text-white"></i>
          </div>
          <h4 class="text-white">100% Organic</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
        <div class="text-white">
          <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="fa fa-award fs-4 text-white"></i>
          </div>
          <h4 class="text-white">Award Winning</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-block bg-white h-100 text-center p-5 pb-lg-0">
          <p>At et justo elitr amet sea at. Magna et sit vero at ipsum sit et dolores rebum. Magna sea eos sit dolor, ipsum amet no tempor ipsum eirmod lorem eirmod diam tempor dolor eos diam et et diam dolor ea. Clita est rebum amet dolore sit. Dolor stet dolor duo clita, vero dolor ipsum amet dolore magna lorem erat stet sed vero dolor</p>
          <img class="img-fluid" src="img/feature.png" alt="">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-white mb-5">
          <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="fa fa-tractor fs-4 text-white"></i>
          </div>
          <h4 class="text-white">Modern Farming</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
        <div class="text-white">
          <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="fa fa-phone-alt fs-4 text-white"></i>
          </div>
          <h4 class="text-white">24/7 Support</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- Team Start -->





<!-- Footer Start -->
<div class="container-fluid bg-footer bg-primary text-white mt-5">
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-8 col-md-6">
        <div class="row gx-5">
          <div class="col-lg-4 col-md-12 pt-5 mb-5">
            <h4 class="text-white mb-4">Get In Touch</h4>
            <div class="d-flex mb-2">
              <i class="bi bi-geo-alt text-white me-2"></i>
              <p class="text-white mb-0">KK 13 ave, Kigali, Rwanda</p>
            </div>
            <div class="d-flex mb-2">
              <i class="bi bi-envelope-open text-white me-2"></i>
              <p class="text-white mb-0">info@example.com</p>
            </div>
            <div class="d-flex mb-2">
              <i class="bi bi-telephone text-white me-2"></i>
              <p class="text-white mb-0">+250789695774</p>
            </div>
            <div class="d-flex mt-4">
              <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-secondary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>

<!--          <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">-->
<!--            <h4 class="text-white mb-4">Popular Links</h4>-->
<!--            <div class="d-flex flex-column justify-content-start">-->
<!--              <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Home</a>-->
<!--              <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>-->
<!--              <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Our Services</a>-->
<!--              <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Meet The Team</a>-->
<!--              <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Latest Blog</a>-->
<!--              <a class="text-white" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Contact Us</a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-lg-n5">
        <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-secondary p-5">
          <h4 class="text-white">Newsletter</h4>
          <h6 class="text-white">Subscribe Our Newsletter Join Us </h6>
          <p>Organic seed services cater to the specific needs and preferences of organic farmers, gardeners, and individuals who prioritize sustainable and chemical-free agriculture</p>
          <form action="">
            <div class="input-group">
              <input type="text" class="form-control border-white p-3" placeholder="Your Email">
              <button class="btn btn-primary">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark text-white py-4">
  <div class="container text-center">
    <p class="mb-0">&copy; 2023<a class="text-secondary fw-bold" href="#">IGIHINGWA FARM</a>. All Rights Reserved. Designed by <a class="text-secondary fw-bold" href="">PEACE NAMAHORO </a></p>
  </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-secondary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>